/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeLegibility; /* Optimize text for legibility */
  -webkit-font-smoothing: antialiased; /* Enable antialiased font smoothing for macOS and iOS */
  -moz-osx-font-smoothing: grayscale; /* Enable antialiased font smoothing for non-webkit browsers */
}

[role="list"] {
  list-style: none;
}

button {
  /* border: none; */
}

a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:visited {
  color: black;
}
