@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeLegibility; /* Optimize text for legibility */
  -webkit-font-smoothing: antialiased; /* Enable antialiased font smoothing for macOS and iOS */
  -moz-osx-font-smoothing: grayscale; /* Enable antialiased font smoothing for non-webkit browsers */
}

[role="list"] {
  list-style: none;
}

button {
  /* border: none; */
}

a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:visited {
  color: black;
}

h1 {
  /* margin-bottom: 1.5rem; */
}
h2 {
  margin-bottom: 1.25rem;
}
h3 {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout,
main > * {
  background-color: white;
}
